PORT=4000
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
JWT_SECRET=your_random_secret_here
FRONTEND_URL=http://localhost:3000
INTASEND_PUBLISHABLE_KEY=
INTASEND_SECRET_KEY=
BACKEND_URL=http://localhost:4000
INTASEND_WEBHOOK_CHALLENGE=
